<!DOCTYPE html>
<html>
<head>
    <title>Flask To-Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="navbar">
    <h1 class="logo">Flask To-Do App</h1>

    {% if current_user.is_authenticated %}
        <div class="user-section">
            <span class="welcome">Welcome, {{ current_user.username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    {% endif %}
</div>

        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>