{% extends 'base.html' %}
{% block content %}
<div class="dashboard">

    <div class="card total">
        <h3>Total Tasks</h3>
        <p>{{ total_tasks }}</p>
    </div>

    <div class="card completed">
        <h3>Completed</h3>
        <p>{{ completed_tasks }}</p>
    </div>

    <div class="card pending">
        <h3>Pending</h3>
        <p>{{ pending_tasks }}</p>
    </div>

</div>


<form method="GET" class="filter-form">
    <a href="{{ url_for('add_task') }}" class="add-btn">Add New Task</a>

    <input type="text" name="search" placeholder="Search task..."
           value="{{ request.args.get('search', '') }}">

    <select name="category">
        <option value="All">All Categories</option>
        <option value="Work"
            {% if request.args.get('category') == 'Work' %}selected{% endif %}>
            Work
        </option>
        <option value="Personal"
            {% if request.args.get('category') == 'Personal' %}selected{% endif %}>
            Personal
        </option>
    </select>

    <select name="status">
        <option value="">All Status</option>
        <option value="Completed"
            {% if request.args.get('status') == 'Completed' %}selected{% endif %}>
            Completed
        </option>
        <option value="Pending"
            {% if request.args.get('status') == 'Pending' %}selected{% endif %}>
            Pending
        </option>
    </select>

    <button type="submit">Filter</button>
    <a href="{{ url_for('index') }}" class="reset-btn">Reset</a>

</form>

<table>
    <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Category</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for task in tasks %}
    <tr>
    <td>{{ task.id }}</td>

    <td class="{% if task.completed %}completed-task{% endif %}">
        {{ task.title }}
    </td>

    <td>
        {% if task.category == "Work" %}
            <span class="work">Work</span>
        {% else %}
            <span class="personal">Personal</span>
        {% endif %}
    </td>

    <td>{{ task.due_date }}</td>

    <td>
        {% if task.completed %}
            ✅ Completed
        {% else %}
            ⏳ Pending
        {% endif %}
    </td>

    <td>
        <a href="/edit/{{ task.id }}">Edit</a>
        <a href="/delete/{{ task.id }}">Delete</a>
    </td>
</tr>
    {% endfor %}
</table>

<div class="pagination">

    {% if pagination.has_prev %}
        <a href="{{ url_for('index', page=pagination.prev_num) }}">
            ⬅ Previous
        </a>
    {% endif %}

    <span>
        Page {{ pagination.page }} of {{ pagination.pages }}
    </span>

    {% if pagination.has_next %}
        <a href="{{ url_for('index', page=pagination.next_num) }}">
            Next ➡
        </a>
    {% endif %}

</div>

{% endblock %}